body{
    background-color: #000;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    padding: 20px 0;
    width: 100%;
    color:#FFFFFF;
  }
  .companyContainer{
    display: flex;
    align-items: center;
    margin: 0 20px;
    /* margin-left:20px; */
  }
  
  .companyLogo {
    width: 30px;
    height: 30px;
  }
  
  .companyNamee {
    margin: 3px;
    font-size: 24px;
  }
  
  .signupContainer {
    display: flex;
    margin: 0 20px;
    align-items: center;
    
}

.signupButton {
    text-decoration: none;
    background-color: white;
    color: #022B28;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: 20px;
    font-size: 16px;
  }
  