body{
    background-color: #000;
}

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    padding: 20px;
    width: 100%;
    color:#FFFFFF;
  }
  .company-container{
    display: flex;
    align-items: center;
    margin-left:10px;
  }
  
  .company-logo {
    width: 30px;
    height: 30px;
  }
  
  .company-name {
    margin: 3px;
    font-size: 20px;
  }
  
  .signup-container {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.signup-button {
    text-decoration: none;
    background-color: white;
    color: #022B28;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: 20px;
    font-size: 16px;
  }
  