body{
    background-color: #000;
}
.pageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
  }
  
  
  .divider{
    margin: 20px 0;
color:white;
  }
  

  
  .formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 50%;
    color: #FFFFFF;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .input {
    /* padding: 10px; */
    margin-bottom: 20px;
    font-size: 20px;
    border: none;
    font-family: "Inter";
    font-weight: 700;
    width: 321px;
    height: 56px;
    border-radius: 8px;
    text-align: center;
  }
  
  .button {
    background: linear-gradient(97.51deg, #27EECB 9.75%, #12D2D2 92.45%);
    color: black;
    padding: 14px 20px;
    margin-top: 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 10px;

  }
  
  .button:hover {
    opacity: 0.8;
  }
  
  .googleButton {
    background-color: #C95252;
    color: #FFFFFF;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 321px;
    height: 56px;
    font-size: 20px;
    font-weight: bold;
    /* display: flex;
    align-items: center; */
  }
  
  .googleButton i {
    font-size: 24px;
    margin-right: 10px;
  }
  
  
  
  